<section class="center">
  <h3>Our Rooms</h3>

  <div class="rooms-variants-container">
    <div class="room-variant">
      <div class="room-image"></div>
      <h4>Standard Room</h4>
      <p class="price">Average $100 / night</p>
    </div>

    <div class="room-variant">
      <div class="room-image"></div>
      <h4>Semi-Luxury Room</h4>
      <p class="price">Average $180 / night</p>
    </div>

    <div class="room-variant">
      <div class="room-image"></div>
      <h4>Luxury Room</h4>
      <p class="price">Average $300 / night</p>
    </div>

  </div>
</section>
