<section class="center">
  <h3>Our Rooms</h3>

  <div class="rooms-container">
    <div class="room">
      <div class="room-image"></div>
      <h4>Standard Room</h4>
      <p class="price">$100 / night</p>
    </div>

    <div class="room">
      <div class="room-image"></div>
      <h4>Semi-Luxury Room</h4>
      <p class="price">$180 / night</p>
    </div>

    <div class="room">
      <div class="room-image"></div>
      <h4>Luxury Room</h4>
      <p class="price">$300 / night</p>
    </div>

  </div>
</section>
