<header>
  <nav>
    <a routerLink="/" class="center">
      <img ngSrc="logo.png" alt="logo" height="36" width="64"/>
      <h1>Aura</h1>
    </a>

    <div class="center">
      <a routerLink="/" routerLinkActive="active-link">Home</a>
      <a routerLink="/reservation" routerLinkActive="active-link" class="orange-btn">Reservation</a>
    </div>

    <div class="center">
      <a routerLink="/register" routerLinkActive="active-link" *ngIf="!authenticated">Register</a>
      <a routerLink="/login" routerLinkActive="active-link" *ngIf="!authenticated">Login</a>
      <a *ngIf="authenticated">Logout</a>
    </div>
  </nav>
</header>
