<header>
  <nav>
    <a routerLink="/" class="center">
      <img ngSrc="logo.png" alt="logo" width="70" height="36"/>
      <h1>Aura</h1>
    </a>

    <div class="center">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/reservation" routerLinkActive="active-link" class="orange-btn">Reservation</a>
      <div *ngIf="user?.role === 'receptionist'" class="menu" routerLinkActive="active-link">
        <a>Reception</a>
        <img ngSrc="arrow-down.png" alt="arrow icon" height="24" width="24"/>
        <ul class="submenu">
          <li [routerLink]="['/reception']" [queryParams]="{ tab: 'reservations' }">Reservations</li>
          <li [routerLink]="['/reception']" [queryParams]="{ tab: 'rooms' }">Rooms</li>
          <li [routerLink]="['/reception']" [queryParams]="{ tab: 'users' }">Users</li>
        </ul>
      </div>
    </div>

    <div class="center">
      <ng-container *ngIf="!user; else loggedIn">
        <a routerLink="/register" routerLinkActive="active-link">Register</a>
        <a routerLink="/login" routerLinkActive="active-link">Login</a>
      </ng-container>

      <ng-template #loggedIn>
        <a routerLink="/profile" routerLinkActive="active-link" class="orange-btn">
          {{ user?.firstName }} {{ user?.lastName }}
        </a>
        <a (click)="logout()">Logout</a>
      </ng-template>
    </div>
  </nav>
</header>
