header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  background-color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  a {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      opacity: 0.8;
      color: #dca73a;
    }
  }

  .orange-btn {
    color: white;

    &:hover {
      background-color: #dca73a;
      color: white;
      opacity: 0.8;
    }
  }

  .active-link {
    border-bottom: 2px solid #dca73a;
    padding-bottom: 2px;
  }

  .menu {
    width: 100%;
    max-width: 300px;
    color: #353b3F;
    position: relative;
    cursor: pointer;
    margin-left: 1rem;

    &:hover  {
      img {
        transform: rotate(180deg);
      }

      .submenu {
        top: 100%;
        opacity: 1;
        pointer-events: all;
      }
    }

    * {
      z-index: 1;
    }

    img {
      position: relative;
      top: 5px;
      width: 1.3rem;
      transition: transform .2s ease;
    }

    .submenu {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #353B3F;
      border-radius: 1rem;
      padding: 1rem;
      transition: all .3s ease;

      li {
        display: flex;
        color: white;
        padding: 1rem;
        border-radius: .5rem;
        cursor: pointer;
        transition: background .2s ease;

        &:nth-child(1):hover {
          background-color: #65D076;
        }

        &:nth-child(2):hover {
          background-color: #FFD700;
        }

        &:nth-child(3):hover {
          background-color: #42B3DB;
        }
      }
    }
  }
}
