<app-rooms-variants/>

<header>
  <h1>Reservation</h1>
</header>

<form class="center">
  <div class="input-group">
    <label for="checkIn">Check In Date:</label>
    <input type="date" id="checkIn" required>
  </div>

  <div class="input-group">
    <label for="checkOut">Check Out Date:</label>
    <input type="date" id="checkOut" required>
  </div>

  <div class="input-group">
    <label for="room">Room:</label>
    <input
      class="orange-btn"
      placeholder="Choose a room"
      id="room"
      (focus)="onRoomInputFocus()"
      readonly
      value="{{ roomNumber }}">
  </div>

  <button type="submit" class="orange-btn">Reserve Now</button>

</form>

<app-rooms *ngIf="showRooms" [selectRoom]="setRoomNumber.bind(this)"/>
