<app-rooms-variants/>

<header>
  <h1>Reservation</h1>
</header>

<form class="center" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="checkIn">Check In:</label>
    <input
      type="date"
      id="checkIn"
      required
      [(ngModel)]="reservation.checkIn"
      name="checkInDate"
      [min]="today"
      (change)="updateMinCheckOut()"
    >
  </div>

  <div class="input-group">
    <label for="checkOut">Check Out (optional):</label>
    <input
      type="date"
      id="checkOut"
      [(ngModel)]="reservation.checkOut"
      name="checkOutDate"
      [min]="reservation.checkIn"
    >
  </div>


  <div class="input-group">
    <label for="room">Room:</label>
    <input
      class="orange-btn"
      placeholder="Choose a room"
      id="room"
      #roomInput
      (click)="onRoomInputClick()"
      readonly
      value="{{ reservation.roomNumber }}">
  </div>

  <div class="input-group">
    <label for="note">Note (optional):</label>
    <input type="text" id="note" [(ngModel)]="reservation.note" name="note">
  </div>

  <button type="submit" class="orange-btn">Reserve Now</button>

</form>

<app-rooms *ngIf="showRooms" [selectRoom]="setRoomNumber.bind(this)"/>
