<main class="center">
  <h1>Top Hotel in the World</h1>
  <h3>Hotel and Your Comfort</h3>
</main>

<section class="center about">
  <div class="image">
    <img ngSrc="about.png" width="800" height="800" alt="about">
    <div class="bottom-right">5 Years of Experience </div>
  </div>
  <div class="text">
    <h2>About Us</h2>
    <p>
      Welcome to Aura Hotel, where luxury meets comfort. Nestled in the heart of the city, our hotel offers world-class amenities, breathtaking views, and exceptional hospitality. Whether you're here for business or leisure, we ensure a memorable and relaxing stay.
    </p>
    <article>
      Our elegantly designed rooms, fine dining restaurants, and state-of-the-art facilities create the perfect blend of sophistication and warmth. At Aura Hotel, your comfort is our priority, and we strive to make every moment unforgettable.
    </article>
  </div>
</section>

<app-rooms />
