main {
  * {
    overflow: auto;
  }
  overflow-y: hidden;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;

  h1 {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
  }

  background: linear-gradient(45deg, #dca73a, white);
}

.tableFixHead {
  width: fit-content;
  margin: auto;
  overflow: auto;
  height: 60vh;

  thead th {
    position: sticky;
    top: 0;
    z-index: 0;
  }
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
  }

  th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.51);
    color: #112e41;

    button {
      width: 100%;
    }
  }

  thead {
    th {
      background-color: #dca73a;
      color: #fff;
    }
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  /* Додаємо стиль для скролу */
  table {
    min-width: 800px; /* Потрібно встановити мінімальну ширину таблиці, щоб скрол працював */
  }
}

.add-btn {
  display: block;
  margin: 1rem 0 10px auto;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters .input-group {
    width: 90%;
  }

  table {
    font-size: 0.8rem;
  }

  table th,
  table td {
    padding: 8px;
  }
}

@media (max-width: 600px) {
  main h1 {
    display: none;
  }

  table button {
    font-size: 0.6rem;
    padding: 2px;
  }

  table input {
    font-size: 1rem;
    padding: 4px;
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  .tableFixHead {
    height: 50vh;
  }
}
