main {
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;

  h1 {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
  }

  background: linear-gradient(20deg, #dca73a, #f1d88f);
}

.tableFixHead {
  overflow: auto;
  height: 60vh;

  thead th {
    position: sticky;
    top: 0;
    z-index: 0;
  }
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;

    button {
      width: 100%;
    }
  }

  thead {
    th {
      background-color: #dca73a;
      color: #fff;
    }
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
