<app-rooms-filters
  [(filters)]="filters"
  (apply)="loadData()"
  (clear)="clearFilters()"
/>

<div class="tableFixHead">
  <table>
    <thead>
    <tr>
      <th>Number</th>
      <th>Capacity</th>
      <th>Comfort Level</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Reservations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms$ | async">
      <td>{{ room.number }}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.comfortLevel | titlecase }}</td>
      <td>{{ room.price }}</td>
      <td>
        <button class="secondary-btn">Edit ✎</button>
      </td>
      <td>
        <button class="secondary-btn">View ➪</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
