header, h2 {
  margin: 2rem;
  text-align: center;
}

main {
  align-items: flex-start;

  section {
    margin: 0 auto;

    .reservations-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      div {
        padding: 10px;
        border: 1px solid #dca73a;
        border-radius: 10px;

        p {
          font-size: 14px;
          line-height: 22px;
          color: #9095A0FF;
        }

        button {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  @media (max-width: 700px) {
    section .reservations-list {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 1000px) {
  h2 {
    margin-top: 4rem;
  }
}
