<app-users-filters
  [(filters)]="filters"
  (apply)="loadData()"
  (clear)="clearFilters()"
/>

<div class="tableFixHead">
  <table>
    <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Passport</th>
      <th>Role</th>
      <th>Reservations</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="(users$ | async)?.length; else noData">
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.firstName }} {{ user.lastName }} {{ user.middleName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.passportNumber }}</td>
        <td>{{ user.role | titlecase }}</td>
        <td>
          <button (click)="navigateToReservations(user.id)" class="secondary-btn">View ➪</button>
        </td>
      </tr>
    </ng-container>

    <ng-template #noData>
      <tr>
        <td colspan="5" class="no-data-message">
          <h2>No users found</h2>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
