* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 28px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-btn {
  color: white;
  background-color: #dca73a;
  border: #dca73a;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.orange-btn:hover {
  background-color: #dca73a;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}
